
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mainBlock{
  width: 100%;
  height: 550px;
  display: inline-block;
  
}

#inputBlock {
 padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: #385E3C;
  color: white;
}
#messageBlock {
  background-color: white;
  color: #385E3C;
    border-radius:5px ;
    width: 70%;
    height: 30px;
    align-items: baseline;
}

#grupName {
display: none;
}

input,button{
  background-color: #385E3C;
  border-radius: 5px;
  color: white;
}
input,button:hover{
  background-color: white ;
  color: #385E3C;
  
}
#inputtwo{
  background-color: #385E3C;
 width:40%;
  color: white;
}

p,a{
  margin: 10px;
  background-color: #385E3C;
  color: white;
  height: 50px;
  width: fit-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 5px;
  
}


#send{
  margin: auto;
    height: 30px;
    border-radius:10px ;
    background-color: #385E3C;
    color: white;
}

#chatBlock{
  width: 40%;
  height: 400px;
  background-color:  #385E3C;
  margin-top: -572px;
  margin-left:60% ;
}

#chat::-webkit-scrollbar,#groups::-webkit-scrollbar {
  display: none;
}

#chat {
  list-style-position: inside;
  overflow-y: scroll;
  margin-top: 30px;
  height: 440px;
  color: white;
  background-color: whitesmoke;
}

#groups{
  list-style-position: inside;
  overflow-y: scroll;
  height: 400px;
}

input[type=submit]{
  width:100%;
  height:50px;
  background-color: #385E3C;
  color: white;
}
label {
 
  background-color: #385E3C;
  color: white;
  font-size: x-large;
}
input[type=submit]:hover{
  background-color: white;
  color: #385E3C;
}


#groupBlock{
  background-color:  #385E3C;;
  width: 40%;
  height: 550px;
  color: white;
}
#userBlock, #groupUsers{
  background-color:  #385E3C;;
  margin-top:-500px ;
  position: relative;
  display: none;
  width: 40%;
  height: 500px;
  color: white;
}
