
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mainBlock{
  width: 100%;
  height: 550px;
  background-color: #ccc;
  display: inline-block;
  
}

#inputBlock {
  margin: auto;
    margin-right: 0px;
    width: fit-content;
  height: fit-content;
}
#messageBlock {
    box-shadow: #ccc 0px 4px 12px;
    resize: both;
    border-radius:10px ;
    width: 50%;
    height: 25px;
    align-items: baseline;
}

#grupName {
display: none;
}


a{
  color: white;
}
hr{
  background-color: white;
  color: white;
}

#send{
  margin: auto;
    height: 30px;
    border-radius:10px ;
    background-color: #385E3C;
    color: white;
}

#chatBlock{
  width: 40%;
  height: 500px;
  background-color:  #385E3C;;
  margin-top: -522px;
  margin-left:60% ;
}

#chat::-webkit-scrollbar {
  display: none;
}

#chat {
  list-style-position: inside;
  overflow-y: scroll;
  height: 450px;
  color: white;
}

input[type=submit]{
  width:100%;
  height:50px
}

#groupBlock{
  background-color:  #385E3C;;
  width: 40%;
  height: 500px;
  color: white;
}
#userBlock, #groupUsers{
  background-color:  #385E3C;;
  margin-top:-500px ;
  position: fixed;
  display: none;
  width: 40%;
  height: 500px;
  color: white;
}